@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Oriya:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
/*    background: linear-gradient(to right, #536976, #292e49);*/
    background-color: #4C5BB3;
}
header{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
header h1{
    text-shadow: 2px 2px  2px black;
    color: orange;
}
header, header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 32px;
    height: 32px;
    filter:drop-shadow(5px 5px 5px)
}
header #fullcalendardate{
    position: relative;
    left: 25px;
    top: 5px;
    z-index: 1;
}
#fullcalendarIcon{
    display: none;
}
.date-info{
    text-align: center;
}
#calendar_dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px 0;
}
.date {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}
#calendar{
    width: 100%;
    max-width: 490px;
    margin: auto;
    display:flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 20px;
    gap: 5px;
    font-family: "Noto Serif Oriya", serif;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#calendar .toprow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}
#calendar .toprow select{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: "Noto Serif Oriya", serif;
    background-color: floralwhite;
}
button {
/*    margin: 5px;*/
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.date.sunday {
    background-color: #FF5733;
    font-weight: bold;
}


#calendar_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 10px;
}

.day-name {
    color: #DAF7A6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: #000033;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.today {
    background-color: #4CAF50;
    border-radius: 100px;
    color: white;
    font-weight: bold;
}
.event{
    padding: 10px;
}
#eventList{
    align-items: center;
}
#eventList div{
    display: flex;
    align-items: center;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Noto Sans Oriya", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#eventList div span{
    font-size: 1.1rem;
    width: 2rem;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: #0080ff; 
}
#eventList div:nth-child(odd) {
  background-color: #2c3f50;
}
#eventList div:nth-child(even) {
  background-color: #34495e;
  color: #DAF7A6;
}

#translate_btn{
    background-color: transparent;
    color: black;
}


/*full year calendar*/



@media screen and (max-width: 450px){
    #calendar{
        margin: auto;
        width: 95%;
        padding: 10px;
    }
}
